body {
    background-color: #5eb5e0;
}

.adminButton {
    width: 250px;
    height: 150px;
    background-color: lightgrey;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 130%;
    text-align: center;
}

.adminButton a {
    text-decoration: none;
    color: darkred;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

#weather {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    background-image: url("../photo/back.jpeg");
}
