{% extends "::base.html.twig" %}
{% block title %}Nowa strona {% endblock %}
{% block body %}
    <div class="container">
        <h1>Welcome to Admin Panel.</h1>
        <a href="{{ asset('add') }}">
            <div class="adminButton">
                <span>Add City</span>
            </div>
        </a>
        <a href="{{ asset('selectCity') }}">
            <div class="adminButton">
                <span>Edit City</span>
            </div>
        </a>
        <a href="{{ asset('delete') }}">
            <div class="adminButton">
                <span>Delete City</span>
            </div>
        </a>
        <div style="clear: both"></div>
        <br><hr>
        {% if deletedCity is defined %}
            <span style="color: green">You have succesfully deleted city {{ deletedCity.name }} from Weather City List</span>
        {% endif %}
    </div>
{% endblock %}