{% extends "::base.html.twig" %}
{% block title %}Nowa strona {% endblock %}
{% block body %}
    <div style="margin-left: 40%; margin-right: 40%">
        <span id="time"></span><br>
        <img src="" width="100" id="graphic" style=""><br>
        <span id="temp" style="font-size: 120%"></span><br>
        <span id="city"></span>
    </div>
{% endblock %}